@import './styles/variables.scss';

html, body {
  height: 100%;
}
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-stack;
  color: $text-color;
}
.rejected {
  background-color: $red;
}
.approved {
  background-color: $green;
}
.pending {
  background-color: $orange;
}
.button {
  padding: 10px;
  background: #FFFFFF;
  outline: none;
  border: 1px solid $gray;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
}
